
.metrics {
    font-size: @font-size-featured;
    // padding: 5px;
    // border: 1px solid #ccc;
}

.metric {
    position: relative;
    padding: 5px 0;
    display: flex;

    &:after {
        content: "";
        background: #ccc;
        position: absolute;
        bottom: 0;
        left: 5%;
        height: 1px;
        width: 90%;
    }
}

.metric-title {
    width: 20%;

    // &:before {
    //     content: '';
    //     margin: 0 0 0 0;
    //     display: inline-block;
    //     vertical-align: middle;
    //     background-size: cover;
    //     width: 15px;
    //     height: 15px;
    // }

    // .title-elibrary:before {
	// 	background-image: url('@{path_to_img}/elibrary.svg');
	// }

	// .title-scopus-custom:before {
	// 	background-image: url('@{path_to_img}/scopus.png');
	// }

}

.metric-values {
    width: 80%;
    text-align: center;
}

.badge-elibrary {
    background-color: #ef7459;
}

.badge-scopus {
    background-color: #006471;
}

.badge-scimago {
    background-color: #fba353;
}

