.modal-thumbnail {
    cursor: zoom-in;
}


.modal {

    .modal-body {
        text-align: center;
    }

    .modal-resize {
        float: left;
        margin-right: 15px;
        // .close();
    }

    .modal-download {
        // .close();
    }

    .modal-video {
        width: 100%;
    }

    .modal-img {
        max-width: 100%;
        height: auto;
        max-height: 100%;
      }

    .modal-dialog-fullscreen {
        width: 98%;
    }
}