@search-icon-size: 31px;
@btn-border-radius-base: 2px;

@search-min-width: 200px;
@search-max-width: 400px;



.search {
    position: absolute;
    right: 0;
    width: 100%;
    min-width: @search-min-width;
    max-width: @search-max-width;
    height: @search-icon-size;
    margin: 0 @navbar-padding-horizontal;
    border-radius: 5px;
    text-align: right;
    transition: all .5s ease-in 0s;

    &.search-min {
        width: 0%;
    }
    

    .search-input {
        width: 100%;
        padding-left: @padding-base-horizontal;
        padding-right: @search-icon-size;
        // transition: width 0.5s linear 0s;
        visibility: inherit;
    }

    .search-icon {
        border-radius: 0 @btn-border-radius-base @btn-border-radius-base 0;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: inline-block;
        width: @search-icon-size;
        text-align: center;
        color: @gray;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: width .5s;
        z-index: 100;
        cursor: pointer;
    }
}




@media screen and (max-width: 888px) {
  .search {
      max-width: 95%;
      position: relative;
      left: -@search-icon-size / 2;
      min-width: @search-icon-size;

      .search-input {
          transition: none;
      }
  }

  .search.search-min {
    width: @search-icon-size;
  }
}

@media screen and (max-width: 1100px) {
.search {
    .search-input {
        border-radius: 25px;
    }
}
  .search-min {
     .search-input {
        width: @search-icon-size;
        visibility: hidden;
      }
    .search-icon {
          color: #fff;
          background: @brand-primary;
          border-radius: 50%; 
      }
  }
}