// Сайдбар
#sidebar {
  .sidebar-trigger {
    display: none;
  }
}

.button() {
  border: none;
  background: #34ced9;
  background-image: -webkit-linear-gradient(top, #34ced9, #1b3869);
  background-image: -moz-linear-gradient(top, #34ced9, #1b3869);
  background-image: -ms-linear-gradient(top, #34ced9, #1b3869);
  background-image: -o-linear-gradient(top, #34ced9, #1b3869);
  background-image: linear-gradient(to bottom, #34ced9, #1b3869);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 8px;
  text-decoration: none;
  display: block;
  float: left;
  margin-bottom: 0px;
  &:hover {
    background: #3ccffc;
    background-image: -webkit-linear-gradient(top, #3ccffc, #1aad90);
    background-image: -moz-linear-gradient(top, #3ccffc, #1aad90);
    background-image: -ms-linear-gradient(top, #3ccffc, #1aad90);
    background-image: -o-linear-gradient(top, #3ccffc, #1aad90);
    background-image: linear-gradient(to bottom, #3ccffc, #1aad90);
    text-decoration: none;
    color: #ffffff;
  }
}

.sidebar-button {

  .button();
  max-width: @sidebar-width;
}

.block_make_submission {
  box-shadow: none;
  max-width: @sidebar-width;
  margin: 0 auto;
  clear: both;
  border: none;
  background: transparent;
  .content {
    padding: 5px 0px;
  }
  a.block_make_submission_link {
  color: #fff;
  font-size: 15px !important;
  .button();
  }
}
.button {
  .button();
}


.block_custom {
  box-shadow: none;
  background: transparent;

  max-width: @sidebar-width;
  border: none;
  margin: 0 auto;

  .content {
    padding: 5px 0px;
  }
}

.indexation {
  background: @body-bg;
}

.sidebar-elem-custom {
  clear: both;

  h3 {
    font-size: 15px;
  }
}

.indexation {
  margin: 0 auto;
  padding-top: 20px;
  text-align: right;
  margin-top: 10px;
  h2 {
    margin-top: 0px;
  }
}

.sidebar-nav-item {
  text-align: center;
}
.sidebar-nav-item a.sidebar-item-link, .block_make_submission_link {
  font-size: 15px;
  float: right;
  padding: 5px;
  width: 100%;

}

.indexation {
  text-align: center;
  // background: transparent;
  // color: #fff;
}


@media screen and (max-width: 768px) {
  .indexation {
    // display: none;
  }


  #sidebar {
    margin-top: @form-group-margin-bottom;
    transition: all 0.5 ease-out;
  }
  #sidebar.sidebar-min {
    position: absolute;
    top: -@navbar-margin-bottom;
    bottom: 0;
    right: 0;
    margin-top: 0px;
    padding-top: 15px;
    width: @sidebar-width;
    height: 100%;
    background: @gray-light;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    z-index: 100;

    .sidebar-contaier {
      
    }


    .sidebar-trigger {
    
      .sidebar-trigger-icon {

      }
    }
    

    &.sidebar-min_open {

    }
  }
  
  .sidebar-trigger {

  }
}



  .button, a.block_make_submission_link  {
    //border-radius: 0 !important;
  }

  .block_custom, .block_make_submission {
    //max-width: 100%;
  }