// Сайдбар
.button() {
  background: #34ced9;
  background-image: -webkit-linear-gradient(top, #34ced9, #1b3869);
  background-image: -moz-linear-gradient(top, #34ced9, #1b3869);
  background-image: -ms-linear-gradient(top, #34ced9, #1b3869);
  background-image: -o-linear-gradient(top, #34ced9, #1b3869);
  background-image: linear-gradient(to bottom, #34ced9, #1b3869);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 8px;
  text-decoration: none;
  display: block;
  float: left;
  margin-bottom: 0px;
  &:hover {
    background: #3ccffc;
    background-image: -webkit-linear-gradient(top, #3ccffc, #1aad90);
    background-image: -moz-linear-gradient(top, #3ccffc, #1aad90);
    background-image: -ms-linear-gradient(top, #3ccffc, #1aad90);
    background-image: -o-linear-gradient(top, #3ccffc, #1aad90);
    background-image: linear-gradient(to bottom, #3ccffc, #1aad90);
    text-decoration: none;
    color: #ffffff;
  }
}
.block_make_submission {
  clear: both;
  margin: 0;
  border: none;
  .content {
    padding: 5px 0px;
  }
  a.block_make_submission_link {
  color: #fff;
  font-size: 15px !important;
  .button();
  }
}
.button {
  .button();
}


.block_custom {
  margin: 0;
  border: none;

  .content {
    padding: 5px 0px;
  }
}

.sidebar-elem-custom {
  clear: both;

  h3 {
    font-size: 15px;
  }
}

.indexation {
  margin: 0 auto;
  padding-top: 20px;
  text-align: right;
  margin-top: 10px;
  h2 {
    margin-top: 0px;
  }
}

.sidebar-nav-item {
  text-align: center;
}
.sidebar-nav-item a.sidebar-item-link, .block_make_submission_link {
  font-size: 15px;
  float: right;
  padding: 5px;
  //width: 200px !important;
  width: 100%;

}

.indexation {
  text-align: center;
}