@import "bootstrap-theme/bootstrap.less";

// Переменные
@import "custom-variables.less";

@import "bootstrap-theme/bootstrap-variables.less";
@import "bootstrap-theme/bootswatch.less";


// Компоненты:
@import "components/header.less";
@import "components/to-top.less";
@import "components/sidebar.less";
@import "components/language-toggle.less";
@import "components/citation-formats.less";
@import "components/galley.less";
@import "components/rss.less";
@import "components/modal.less";
@import "components/search.less";

// Страницы
@import "pages/index-journal.less";
@import "pages/article.less";
@import "pages/issues-archive.less";
@import "pages/issue-summary.less";
@import "pages/issue-toc.less";
@import "pages/editorial.less";
@import "pages/submissions.less";
@import "pages/op-view.less";
@import "pages/user-login.less";
@import "pages/contact.less";

// Другое
@import "fonts.less";

button.close {
	outline: none;
}

// Общие стили
.pkp_screen_reader {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.pkp_structure_page {
	// overflow: hidden;
}

.pkp_structure_page {
	position: relative;
}

.pkp_structure_content {
	position: relative;
	text-align: justify;
}

.page-header {
	text-align: left;
}

ul.show-custom_fix {
	li {
		display: list-item !important;
	}
}

.thumbnail {
	text-align: center;
}

// Хлебные крошки
.breadcrumb {
	li {
		font-weight: 400;
	}
}

// Валидация форм
.pkp_form_error_list a {
	font-size: 15px;
	color: #fff;
}

//...............

// Объявления announce-custom
// Не факт, что они есть на сайте. Можно удалить??
// .announce-custom {
//   text-align: center;
// }
// .announce-custom-title {
//   font-size: 150%;
//   margin-top: -10px;
//   margin-bottom: 20px;
// }
//.......................................



//Alert-info
.alert-info {
	border: none;
	background: none;
	color: #000;
	font-size: 15px;

	a {
		font-weight: bold;
	}
}

div.alert.alert-info {
	margin: 0;
}

// Media heading
.media-heading {
	a {
		font-weight: 400;
	}
}


// Authors meta
.author-meta-custom {
	table {
		tbody tr td {
			padding: 8px;
			vertical-align: middle;

			p {
				margin: 0;
			}
		}
	}
}


// Версия для слабовидящих
.special {
	padding: 5px @navbar-padding-horizontal;
}


@media screen and (max-width: 400px) {
	.breadcrumb li {
		display: block;
	}

	.main-cover-custom img {
		width: 70%;

	}
}

// @media screen and (max-width: 766px) {
// 	.breadcrumb li {
// 		display: inline-block !important;
// 	}
// }

@media screen and (max-width: 770px) {
	body {
		.pkp_structure_main {
			text-align: left;
		}
	}

	ul, ol {
		padding-left: 30px;
	}

	.main-cover-custom {
		img {
			width: 40%;
		}
	}

	.submission-custom .submission-table-custom {
		margin: 10px 0;

		td {
			padding: 8px 10px;
		}
	}

	#return-to-top {
		width: 0;
		z-index: -1;
	}
}

@media screen and (max-width: @screen-sm) {
	.navbar-header {
		float: none;
	}

	.navbar-left,
	.navbar-right {
		float: none !important;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}

	.navbar-nav>li {
		float: none;
	}

	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.collapse.in {
		display: block !important;
	}

	.breadcrumb li {
		display: block !important;
	}
}

.container {
	@media (min-width: @screen-sm-min) {
		max-width: @container-sm;
		width: auto;
	}

	@media (min-width: @screen-md-min) {
		max-width: @container-md;
		width: auto;
	}

	@media (min-width: @screen-lg-min) {
		max-width: @container-lg;
		width: auto;
	}

	@media screen and (min-width: 1500px) {
		max-width: 1440px;
		width: auto;
	}

}
