// Article
.article-summary .media-heading {
  font-weight: 400;
}



.article-details {
  #citationOutput {
    margin: 0;
  }
  .page-header {
    font-size: 24px;
  }

  .cover-image {
  // text-align: center;
  // img{
  //   max-width: 150px;
    
   }
}

.article-meta-list {
  list-style: none;
  margin-bottom: 40px;
}

.article-meta-item {
  position: relative;
  text-align: left;
  margin-bottom: 5px;

  &:before {
    content: "";
    position: absolute;
    left: -25px;
    top: 3px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url('@{path_to_img}/list-marine3.png');
    background-size: contain;
  }
}

.affiliations-list {
  padding-left: 15px;
}

.article-main .authors {
  text-align: left;

  .author-biography p{
    margin: 0;
  }
}

.article-links-custom {
  margin-bottom: 10px;
  .article-rinc-custom, .article-orcid-custom {
      margin: 0 0px 1px 0;
       &:before {
         content: '';
         margin: 0 0 0 0;
         display: inline-block;
         vertical-align: middle;
         background-size: cover;
         width: 15px;
         height: 15px;
       }
  }
  .article-rinc-custom:before {
    background-image: url('@{path_to_img}/elibrary.svg');
  }
  .article-orcid-custom:before {
    background-image: url('@{path_to_img}/orcid.png');
  }
}

.list-group-item.doi a {
  font-weight: 400;
}

#copy {
  float: right;
  width: 30px;
  height: 30px;
  margin: 4px;
  background: url('@{path_to_img}/clipboard30px.png');
  cursor: pointer;
  &:active {
    position: relative;
    top: 1px;
    right: 1px;
  }
}