// Article
.article-summary.media {
  padding: 10px 0;
  margin: 10px 0;
  // margin-top: 0;
  // margin-bottom: 0;
}

.article-summary {
  border-bottom: 1px solid @gray-lighter;
  // min-height: 150px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  
  &:last-of-type {
    border: none;
  }
  // padding-right: 20px;
  text-align: left;
  .media-heading {
    // font-size: 16px;
  font-weight: 400;
  }

  .galley-primary {
    // font-size: 12px;
    text-overflow: "---";
  }

}



.article-details {
  #citationOutput {
    margin: 0;
  }
  .page-header {
    font-size: 24px;
  }

  .cover-image {
  // text-align: center;
  // img{
  //   max-width: 150px;
    
  
   }

   .author {
    border-bottom: 1px solid @gray-lighter;
  }
}

// Article-more
.article-more {
  .article-more-nav {
    padding: 0;
    li.active > a {
      color: @btn-primary-color;
      background-color: @brand-primary;
      
    }
    a {
      border: none !important;
      // border: 1px solid @brand-primary;
    }
  }

  .article-more-content {
    padding: 20px;
  }

  .article-more-title {
    margin-bottom: 25px;
    font-weight: 400;
  }

  .supplementary {
    border-bottom: 1px solid @gray-lighter;
  }
}// /Article-more 

// Article-meta
.article-meta-list {
  list-style: none;
  margin-bottom: 40px;
}

.article-meta-item {
  position: relative;
  text-align: left;
  margin-bottom: 5px;

  &:before {
    content: "";
    position: absolute;
    left: -25px;
    top: 3px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url('@{path_to_img}/mbj-list5.png');
    background-size: contain;
  }
}

.affiliations-list {
  padding-left: 15px;
}// Article-meta-list


// Authors
.article-main .authors {
  text-align: left;

  .author-biography p{
    margin: 0;
  }
}

.author {
  margin-bottom: 20px;
  &:nth-child(even) {
    // background-color: @gray-lighter;
  }
}

.article-links-custom {
  margin-bottom: 10px;
  .article-rinc-custom, .article-orcid-custom {
      margin: 0 0px 1px 0;
       &:before {
         content: '';
         margin: 0 0 0 0;
         display: inline-block;
         vertical-align: middle;
         background-size: cover;
         width: 15px;
         height: 15px;
       }
  }
  .article-rinc-custom:before {
    background-image: url('@{path_to_img}/elibrary.svg');
  }
  .article-orcid-custom:before {
    background-image: url('@{path_to_img}/orcid.png');
  }
}// /Authors

.list-group-item.doi a {
  font-weight: 400;
}


// How to cite
#copy {
  float: right;
  width: 30px;
  height: 30px;
  margin: 4px;
  background: url('@{path_to_img}/clipboard30px.png');
  cursor: pointer;
  &:active {
    position: relative;
    top: 1px;
    right: 1px;
  }
}// How to cite