// Edtorial / Редколлегия
ol.editorial-list-custom {
  

    padding: 0;
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset:  item; /* Обнуляем счетчик списка */

  li.editorial-item-custom{
    margin: 5px;
    &:before {
      content: counter(item) ') '; /* Добавляем к числам скобку */
      counter-increment: item; /* Задаём имя счетчика */
      margin-right: 5px;
    }

  }
}


.footer-custom {
  font-size: 0.8em;
}

// Bio custom

div#editorialTeamBio {

  .profile-moreinfo {
    margin-top: -6px;
  }

#profilePicContent {
  img {
    width: 150px;
    height: auto;
    margin: 15px;
    border-radius: 50%;
  }

}

.bio-content {
  p {
    // margin-bottom: 5px;
  }
  strong, .bio-fieldName {
    font-weight: 600;
  }

  .bio-content-item {
    margin-bottom: 10px;
  }

  .bio-references {
    margin-bottom: 10px;
  }

  .bio-details {
    margin-bottom: 10px;


    .bio-profile(@profile, @img) {
      a[title='@{profile}'] {
        &:hover {
          text-decoration: none;
        }
        // vertical-align: middle;
        strong {
          color: @text-color;
          text-decoration: none;
        }
        &:before {
          content: '';
          margin-right: 5px;
          display: inline-block;
          vertical-align: middle;
          background-size: cover;
          width: 20px;
          height: 20px;
          background-image: url('@{path_to_img}/@{img}');
          position: relative;
          top: -1px;
          }
      }
    }

    .bio-profile('orcid', 'orcid.png');
    .bio-profile('scopus', 'scopus.png');
    .bio-profile('wos', 'publons.svg');
    .bio-profile('rinc', 'elibrary.svg');
    .bio-profile('scholar', 'researchGate.png');
    .bio-profile('research-gate', 'googleScholar.png');
    
  }


  // Old profiles
  .bio-profiles {
    clear: both;
    margin-bottom: 10px;

     .bio-profile-item {
      margin: 5px 0px 5px 0px;
       &:before {
         content: '';
         margin: 0 8px 0 0;
         display: inline-block;
         vertical-align: middle;
         background-size: cover;
       }
     }

     .bio-orcid:before {
       width: 20px;
       height: 20px;
       background-image: url('@{path_to_img}/orcid.png');
     }
       .bio-scopus:before {
        width: 20px;
        height: 20px;
        background-image: url('@{path_to_img}/scopus.png');
      }
     .bio-researchid:before {
       width: 20px;
       height: 20px;
       background-image: url('@{path_to_img}/publons.svg');
     }
     .bio-spin:before {
       width: 20px;
       height: 20px;
       background-image: url('@{path_to_img}/elibrary.svg');
     }
    .bio-rinc:before {
       width: 20px;
       height: 20px;
       background-image: url('@{path_to_img}/elibrary.svg');
     }
     .bio-researchGate:before {
       position: relative;
       top: -2px;
       left: -1px;
       width: 20px;
       height: 25px;
       background-image: url('@{path_to_img}/researchGate.png');
     }
     .bio-googleScholar:before {
       width: 20px;
       height: 20px;
       background-image: url('@{path_to_img}/googleScholar.png');
     }
  }

}}

ul.editorialTeam li+li{
  margin-top: 5px;
}