// index Journal
.journal-description-main {
  font-size: @font-size-featured;

  .additional_content {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.journal-description-title {
  margin-top: 0;
  font-size: @font-size-base;
  font-weight: bold;
  text-align: left;
}

.main-cover-custom {
  margin-bottom: 5px;
}

.homepage-image {
  max-width: 250px;
  text-align: center;
  margin: 20px 60px;
}


@media screen and (max-width: @screen-md) {
  .homepage-image {
    max-width: 200px;
  }
  .journal-description-main {
    font-size: @font-size-base;
    text-align: start;
  }

}

@media screen and (max-width: @screen-sm) {
  .homepage-image {
    display: none;
  }
}

.current_issue {
  .img-responsive {
    //width: 100px;
  }
}

