// index Journal
.journal-description-main {
  font-size: @font-size-small;

  .additional_content {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.main-cover-custom {
  margin-bottom: 5px;
}

.current_issue {
  .img-responsive {
    //width: 100px;
  }
}

