.issues {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  .just-accepted {
    margin-bottom: 10px;
  }
}

//Issues Archive
.issues-custom {
  width: 100%;
  td {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }


}
.issues-head-custom {
    background: @brand-primary;
    color: @body-bg;

    .issues-series-custom {
      justify-content: space-around;
    }
}
.issues-body-custom {
  tr:nth-child(even) {
      background: @gray-lighter;
    }
  .issues-year-custom {
    color: @gray-darker;
    font-weight: 600;
    width: 30%;
  }
}
.issues-series-custom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
    a{
      display: inline-block;
      width: 25%;
      padding: 5px;
    }
}

.archive-journal {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  .journal-data {
    width: 100%;
    margin-left: auto;
  }

  .journal-title {
    font-weight: 500;
    margin-bottom: 10px;
  }

  .journal-issues {
    width: 100%;
  }

  .journal-thumbnail {
    width: 150px;
    margin-right: 30px;
      img {
      width: 100%;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .issues-series-custom {
    a {
      width: 50%;
    }
  }

  .archive-journal {
    .journal-thumbnail {
      display: none;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: @screen-xs) {
  .issues-series-custom {
    a {
      width: 100%;
    }
  }

  .archive-journal {
    .journal-thumbnail {
      display: none;
      margin-right: 0;
    }
  }
}