.issues {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  .just-accepted {
    margin-bottom: 10px;
  }
}

//Issues Archive
.issues-custom {
  width: 100%;
  td {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }


}
.issues-head-custom {
    background: @brand-primary;
    color: @body-bg;
}
.issues-body-custom {
  tr:nth-child(even) {
      background: @gray-lighter;
    }
  .issues-year-custom {
    color: @gray-darker;
    font-weight: 600;
    width: 30%;
  }
}
.issues-series-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap-reverse;
    a{
      display: inline-block;
      padding: 5px;
    }
  }