.pkp_op_view {
  .header_view {
  	.download {
  		padding: 6px 15px;
  		&:before {
  		  content: '';
  		  vertical-align: middle;
  		  display: inline-block;
  		  width: 32px;
  		  height: 32px;
  		  margin: 0;
  		  padding: 0px;
  		  background: url('@{path_to_img}/pdf-icon32.png') center top no-repeat;
  		  background-size: contain ;

  		}
  	}
  }
}